p {
  color: black;
  width: 500px;
  
}

html {
  background-image: url("Background.jpg");
  background-size: cover;
}

body { 
  width: 1000px;
  margin: 0 auto;
  background-color:#F5FFFA;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 1px 1px 1px black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.button {
  border-radius: 4px;
  background-color: #6298DA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
img {
  padding:1px;
  border:1px solid #021a40;
}

/*Style for Dima's D3 chart*/
 #economic-impact-chart svg {
    font: 12px sans-serif;
    shape-rendering: crispEdges;
  }

  #economic-impact-chart .axis path,
  #economic-impact-chart .axis line {
    fill: none;
    stroke: #000;
  }
 
  #economic-impact-chart path.domain {
    stroke: none;
  }
 
  #economic-impact-chart .y .tick line {
    stroke: #ddd;
  }